force-app/main/default/flows/Asigna_Tipo_de_Registro.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Valida</name>
        <label>Valida Origen del Pedido</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>getOrigenSalesforce</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>origenPedido</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IMP_CreadoPor__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOtrosOrigenes</targetReference>
            </connector>
            <label>Origen Pedido</label>
        </rules>
    </decisions>
    <description>Asigna el tipo de registro dependiendo su Origen</description>
    <environments>Default</environments>
    <interviewLabel>Asigna Tipo de Registro {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Asigna Tipo de Registro v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getOrigenSalesforce</name>
        <label>getOrigenSalesforce</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualiza_Pedido_Salesforce</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PedidoSalesforce</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>variableSalesforce</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOtrosOrigenes</name>
        <label>getOtrosOrigenes</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualiza_Pedido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PedidoOtrosOrigenes</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>variableOtrosOrigenes</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Pedido</name>
        <label>Actualiza Pedido Otros Origines</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>variableOtrosOrigenes</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Pedido_Salesforce</name>
        <label>Actualiza Pedido Salesforce</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>variableSalesforce</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Valida</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>variableOtrosOrigenes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>variableSalesforce</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
