force-app/main/default/flows/Email_Gerente_de_Negocio.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Asignacion_Manager</name>
        <label>Asignación Manager</label>
        <locationX>484</locationX>
        <locationY>413</locationY>
        <assignmentItems>
            <assignToReference>$Record.Gestor_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.Manager.Email</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Asignar_Email_gerente_y_Manager</name>
        <label>Asignar Email gerente y Manager</label>
        <locationX>896</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>$Record.Gerente_de_Negocio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.Manager.Manager.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Gestor_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.Manager.Email</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Existe_Manager_Y_Gerente_del_Propietario</name>
        <label>Existe Manager Y Gerente del Propietario</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Manager.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignar_Email_gerente_y_Manager</targetReference>
            </connector>
            <label>Si</label>
        </rules>
        <rules>
            <name>Solo_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.Manager.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Manager.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignacion_Manager</targetReference>
            </connector>
            <label>Solo Manager</label>
        </rules>
    </decisions>
    <description>Flujo para insertar el correo del gerente y Manager de Negocio que corresponde relacionado al propietario de la oportunidad</description>
    <environments>Default</environments>
    <interviewLabel>Email Gerente de Negocio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Gerente y Manager de Negocio</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>584</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Existe_Manager_Y_Gerente_del_Propietario</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
