force-app/main/default/flows/Escalacion_de_Oportunidades.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Oportunidad_Direccion_SAct</name>
        <label>Oportunidad Direccion SAct</label>
        <locationX>842</locationX>
        <locationY>396</locationY>
        <actionName>Opportunity.Escalacion_Opo_Direccion_SActualizacion</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Escalacion_Opo_Direccion_SActualizacion</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Oportunidad_Gerente_SAct</name>
        <label>Oportunidad Gerente SAct</label>
        <locationX>578</locationX>
        <locationY>396</locationY>
        <actionName>Opportunity.Escalacion_Opo_GerenteN_SActualizacion</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Escalacion_Opo_GerenteN_SActualizacion</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Oportunidad_JefeInm_SAct</name>
        <label>Oportunidad JefeInm SAct</label>
        <locationX>314</locationX>
        <locationY>396</locationY>
        <actionName>Opportunity.Escalacion_Opo_JefeInm_SActualizacion</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Escalacion_Opo_JefeInm_SActualizacion</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Oportunidad_Prop_SAct</name>
        <label>Oportunidad Prop SAct</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <actionName>Opportunity.Escalacion_Opo_Propietario_SActualizacion</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Escalacion_Opo_Propietario_SActualizacion</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Oportunidad_sin_Seguimiento</name>
        <label>Oportunidad sin Seguimiento</label>
        <locationX>1106</locationX>
        <locationY>396</locationY>
        <actionName>Opportunity.Escalacion_Opo_Propietario_SActividad</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Escalacion_Opo_Propietario_SActividad</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Condiciones para enviar las notificacione de escalacion de oportunidades no atendidas</description>
        <name>Condiciones_de_Notificacion</name>
        <label>Condiciones de Notificacion</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Oportunidades_Prop_SAct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Oportunidad_Abierta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Oportunidad_Atrasada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DiasSinActividad__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dias_sin_actualizacion__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oportunidad_Prop_SAct</targetReference>
            </connector>
            <label>Oportunidades Prop SAct</label>
        </rules>
        <rules>
            <name>Oportunidades_JefeInm_SAct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Oportunidad_Abierta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Oportunidad_Atrasada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DiasSinActividad__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dias_sin_actualizacion__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oportunidad_JefeInm_SAct</targetReference>
            </connector>
            <label>Oportunidades JefeInm SAct</label>
        </rules>
        <rules>
            <name>Oportunidades_Gerente_SAct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Oportunidad_Abierta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Oportunidad_Atrasada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DiasSinActividad__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dias_sin_actualizacion__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oportunidad_Gerente_SAct</targetReference>
            </connector>
            <label>Oportunidades Gerente SAct</label>
        </rules>
        <rules>
            <name>Oportunidades_Direccion_SAct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Oportunidad_Abierta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Oportunidad_Atrasada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DiasSinActividad__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dias_sin_actualizacion__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oportunidad_Direccion_SAct</targetReference>
            </connector>
            <label>Oportunidades Direccion SAct</label>
        </rules>
        <rules>
            <name>Oportunidades_sin_Seguimiento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Oportunidad_Abierta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dias_sin_actualizacion__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estatus_de_Actividad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No tiene actividades registradas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oportunidad_sin_Seguimiento</targetReference>
            </connector>
            <label>Oportunidades sin Seguimiento</label>
        </rules>
    </decisions>
    <description>Enviar notificaciones de escalacion para las oportunidades no atendidas</description>
    <environments>Default</environments>
    <interviewLabel>Escalacion de Oportunidades {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Escalacion de Oportunidades</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Condiciones_de_Notificacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Oportunidad_Abierta__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Oportunidad_Atrasada__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-02-01</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
