force-app/main/default/flows/Escalacion_de_Prospectos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Prospecto_Gerente_SA</name>
        <label>Prospecto Gerente SA</label>
        <locationX>578</locationX>
        <locationY>396</locationY>
        <actionName>Lead.Escalacion_Prosp_Gerente_SActualizacion</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Escalacion_Prosp_Gerente_SActualizacion</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Prospecto_JefeInm_SA</name>
        <label>Prospecto JefeInm SA</label>
        <locationX>314</locationX>
        <locationY>396</locationY>
        <actionName>Lead.Escalacion_Prosp_Jefe_Inm_SActualizacion</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Escalacion_Prosp_Jefe_Inm_SActualizacion</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Prospectos_Direcc_SAct</name>
        <label>Prospectos Direcc SAct</label>
        <locationX>842</locationX>
        <locationY>396</locationY>
        <actionName>Lead.Escalacion_Prosp_Direccion_SActualizacion</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Escalacion_Prosp_Direccion_SActualizacion</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Prospectos_Prop_SAct</name>
        <label>Prospectos Prop SAct</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <actionName>Lead.Escalacion_Prosp_Propietario_SActualizacion</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Escalacion_Prosp_Propietario_SActualizacion</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Prospectos_SSeguimiento</name>
        <label>Prospectos SSeguimiento</label>
        <locationX>1106</locationX>
        <locationY>396</locationY>
        <actionName>Lead.Escalacion_Prosp_Propieta_SSeguimiento</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Lead.Escalacion_Prosp_Propieta_SSeguimiento</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Definir las condiciones para enviar las notificaciones a quien corresponda</description>
        <name>Condiciones_de_Notificacion</name>
        <label>Condiciones de Notificacion</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Propietario_SAct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prospecto_Abierto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DiaSinactividad__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dias_sin_actualizaci_n__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prospectos_Prop_SAct</targetReference>
            </connector>
            <label>Propietario SAct</label>
        </rules>
        <rules>
            <name>JefeInm_SAct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prospecto_Abierto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DiaSinactividad__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dias_sin_actualizaci_n__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prospecto_JefeInm_SA</targetReference>
            </connector>
            <label>JefeInm SAct</label>
        </rules>
        <rules>
            <name>Gerente_SAct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prospecto_Abierto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DiaSinactividad__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dias_sin_actualizaci_n__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prospecto_Gerente_SA</targetReference>
            </connector>
            <label>Gerente SAct</label>
        </rules>
        <rules>
            <name>Direc_SAct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prospecto_Abierto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DiaSinactividad__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dias_sin_actualizaci_n__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prospectos_Direcc_SAct</targetReference>
            </connector>
            <label>Direc SAct</label>
        </rules>
        <rules>
            <name>SinSeguimiento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Prospecto_Abierto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Estatus_de_Actividad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No tiene actividades registradas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dias_sin_actualizaci_n__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prospectos_SSeguimiento</targetReference>
            </connector>
            <label>SinSeguimiento</label>
        </rules>
    </decisions>
    <description>Enviar notificaciones de escalación de prospectos sin actividad y sin seguimiento</description>
    <environments>Default</environments>
    <interviewLabel>Escalación de Prospectos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Escalación de Prospectos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Condiciones_de_Notificacion</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Prospecto_Abierto__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-02-01</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
