force-app/main/default/flows/Flujo_de_Cuentas_especiales.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Env_a_alerta_de_creaci_n_0</name>
        <label>Envía alerta de creación</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <actionName>Account.Alerta_de_creaci_n_exitosa</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Alerta_de_creaci_n_exitosa</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Evalua si el registro es creado con condiciones especiales</description>
        <name>Condiciones_especiales</name>
        <label>¿Condiciones especiales?</label>
        <locationX>248</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Aprobada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12) AND 13</conditionLogic>
            <conditions>
                <leftValueReference>$Record.grupo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.grupo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>02</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.grupo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>03</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.grupo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>04</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.grupo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>05</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.grupo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>06</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.grupo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>07</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.grupo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>08</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.grupo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>09</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.grupo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.grupo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>17</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.grupo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>18</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Aprobada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sujeta_a_aprobaci_n</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Require_alta</name>
        <label>¿Require alta?</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SI_requiere_alta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requiereaprobacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Env_a_alerta_de_creaci_n_0</targetReference>
            </connector>
            <label>Si requiere alta</label>
        </rules>
    </decisions>
    <interviewLabel>Flujo de Cuentas especiales {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo de Cuentas especiales</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Aprobada</name>
        <label>Aprobada</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Require_alta</targetReference>
        </connector>
        <inputAssignments>
            <field>Estatus__c</field>
            <value>
                <stringValue>Aprobada</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Sujeta_a_aprobaci_n</name>
        <label>Sujeta a aprobación</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Estatus__c</field>
            <value>
                <stringValue>Sujeta a aprobación</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Condiciones_especiales</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>id_de_sap__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>id_de_sap__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
