force-app/main/default/flows/IMP_OportunidadGanada.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Agregar_oportunidad_lista</name>
        <label>Agregar oportunidad lista</label>
        <locationX>494</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>ListadeOportunidades</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterar_Oportunidad</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterar_Oportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Oportunidad</name>
        <label>Oportunidad</label>
        <locationX>763</locationX>
        <locationY>579</locationY>
        <assignmentItems>
            <assignToReference>Iterar_Oportunidad.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ganada</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agregar_oportunidad_lista</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Oportunidad ganada {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oportunidad ganada</label>
    <loops>
        <name>Iterar_Oportunidad</name>
        <label>Iterar Oportunidad</label>
        <locationX>622</locationX>
        <locationY>373</locationY>
        <collectionReference>Obtener_oportunidad</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Oportunidad</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Oportunidad_ganada</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_oportunidad</name>
        <label>Obtener oportunidad</label>
        <locationX>436</locationX>
        <locationY>372</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterar_Oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IMP_Pedido__r.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ganada</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Oportunidad_ganada</name>
        <label>Oportunidad ganada</label>
        <locationX>993</locationX>
        <locationY>204</locationY>
        <inputReference>ListadeOportunidades</inputReference>
    </recordUpdates>
    <start>
        <locationX>287</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Obtener_oportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IMP_Pedido__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Factura__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ListadeOportunidades</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
