force-app/main/default/flows/Muestra_Aprobada_Sucursal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Muestra_Apro_Cancun</name>
        <label>Muestra Apro Cancun</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Muestra_Aprobada_Cancun</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Muestra_Aprobada_Cancun</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Muestra_Apro_Chihuahua</name>
        <label>Muestra Apro Chihuahua</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Muestra_Aprobada_Chihuahua</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Muestra_Aprobada_Chihuahua</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Muestra_Apro_Cuernavaca</name>
        <label>Muestra Apro Cuernavaca</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Muestra_Aprobada_Cuernavaca</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Muestra_Aprobada_Cuernavaca</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Muestra_Aprob_Culiacan</name>
        <label>Muestra Aprob Culiacan</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Muestra_Aprobada_Culiacan</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Muestra_Aprobada_Culiacan</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Muestra_Aprob_Ermita</name>
        <label>Muestra Aprob Ermita</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Muestra_Aprobada_Ermita</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Muestra_Aprobada_Ermita</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Muestra_Aprob_Guadalajara</name>
        <label>Muestra Aprob Guadalajara</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Muestra_Aprobada_Guadalajara</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Muestra_Aprobada_Guadalajara</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Muestra_Aprob_Hermosillo</name>
        <label>Muestra Aprob Hermosillo</label>
        <locationX>1898</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Muestra_Aprobada_Hermosillo</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Muestra_Aprobada_Hermosillo</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Muestra_Aprob_La_Raza</name>
        <label>Muestra Aprob La Raza</label>
        <locationX>2162</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Muestra_Aprobada_La_Raza</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Muestra_Aprobada_La_Raza</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Muestra_Aprob_Leon</name>
        <label>Muestra Aprob Leon</label>
        <locationX>2426</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Muestra_Aprobada_Leon</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Muestra_Aprobada_Leon</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Muestra_Aprob_Merida</name>
        <label>Muestra Aprob Merida</label>
        <locationX>2690</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Muestra_Aprobada_Merida</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Muestra_Aprobada_Merida</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Muestra_Aprob_MeridaII</name>
        <label>Muestra Aprob MeridaII</label>
        <locationX>2954</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Muestra_Aprobada_MeridaII</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Muestra_Aprobada_MeridaII</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Muestra_Aprob_Mixcoac</name>
        <label>Muestra Aprob Mixcoac</label>
        <locationX>3218</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Muestra_Aprobada_Mixcoac</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Muestra_Aprobada_Mixcoac</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Muestra_Aprob_Monterrey</name>
        <label>Muestra Aprob Monterrey</label>
        <locationX>3482</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Muestra_Aprobada_Monterrey</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Muestra_Aprobada_Monterrey</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Muestra_Aprob_Perisur</name>
        <label>Muestra Aprob Perisur</label>
        <locationX>3746</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Muestra_Aprobada_Perisur</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Muestra_Aprobada_Perisur</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Muestra_Aprob_Queretaro</name>
        <label>Muestra Aprob Queretaro</label>
        <locationX>4010</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Muestra_Aprobada_Queretaro</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Muestra_Aprobada_Queretaro</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Muestra_Aprob_Riviera</name>
        <label>Muestra Aprob Riviera</label>
        <locationX>4274</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Muestra_Aprobada_Riviera</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Muestra_Aprobada_Riviera</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Muestra_Aprob_Tijuana</name>
        <label>Muestra Aprob Tijuana</label>
        <locationX>4538</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Muestra_Aprobada_Tijuana</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Muestra_Aprobada_Tijuana</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Muestra_Aprob_Veracruz</name>
        <label>Muestra Aprob Veracruz</label>
        <locationX>4802</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Muestra_Aprobada_Veracruz</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Muestra_Aprobada_Veracruz</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Muestra_Aprob_Villahermosa</name>
        <label>Muestra Aprob Villahermosa</label>
        <locationX>5066</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Muestra_Aprobada_Villahermosa</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Muestra_Aprobada_Villahermosa</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Muestra_Aprobada_Acapulco</name>
        <label>Muestra Aprobada Acapulco</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Muestra_Aprobada_Acapulco</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Muestra_Aprobada_Acapulco</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Entrega_Aprobada_Sucursal</name>
        <label>Entrega Aprobada Sucursal</label>
        <locationX>2690</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Acapulco</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AC01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Muestra_Aprobada_Acapulco</targetReference>
            </connector>
            <label>Acapulco</label>
        </rules>
        <rules>
            <name>Cancun</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Muestra_Apro_Cancun</targetReference>
            </connector>
            <label>Cancun</label>
        </rules>
        <rules>
            <name>Chihuahua</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CH01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Muestra_Apro_Chihuahua</targetReference>
            </connector>
            <label>Chihuahua</label>
        </rules>
        <rules>
            <name>Culiacan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CU01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Muestra_Aprob_Culiacan</targetReference>
            </connector>
            <label>Culiacan</label>
        </rules>
        <rules>
            <name>Cuernavaca</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CV01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Muestra_Apro_Cuernavaca</targetReference>
            </connector>
            <label>Cuernavaca</label>
        </rules>
        <rules>
            <name>Ermita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERMI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Muestra_Aprob_Ermita</targetReference>
            </connector>
            <label>Ermita</label>
        </rules>
        <rules>
            <name>Guadalajara</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GD01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Muestra_Aprob_Guadalajara</targetReference>
            </connector>
            <label>Guadalajara</label>
        </rules>
        <rules>
            <name>Hermosillo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HE01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Muestra_Aprob_Hermosillo</targetReference>
            </connector>
            <label>Hermosillo</label>
        </rules>
        <rules>
            <name>La_Raza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RAZA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Muestra_Aprob_La_Raza</targetReference>
            </connector>
            <label>La Raza</label>
        </rules>
        <rules>
            <name>Leon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LE01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Muestra_Aprob_Leon</targetReference>
            </connector>
            <label>Leon</label>
        </rules>
        <rules>
            <name>Merida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ME01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Muestra_Aprob_Merida</targetReference>
            </connector>
            <label>Merida</label>
        </rules>
        <rules>
            <name>Merida_II</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ME02</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Muestra_Aprob_MeridaII</targetReference>
            </connector>
            <label>Merida II</label>
        </rules>
        <rules>
            <name>Mixcoac</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MIXC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Muestra_Aprob_Mixcoac</targetReference>
            </connector>
            <label>Mixcoac</label>
        </rules>
        <rules>
            <name>Monterrey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MT01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Muestra_Aprob_Monterrey</targetReference>
            </connector>
            <label>Monterrey</label>
        </rules>
        <rules>
            <name>Perisur</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSUR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Muestra_Aprob_Perisur</targetReference>
            </connector>
            <label>Perisur</label>
        </rules>
        <rules>
            <name>Queretaro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QE01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Muestra_Aprob_Queretaro</targetReference>
            </connector>
            <label>Queretaro</label>
        </rules>
        <rules>
            <name>Riviera</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RIVI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Muestra_Aprob_Riviera</targetReference>
            </connector>
            <label>Riviera</label>
        </rules>
        <rules>
            <name>Tijuana</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TJ01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Muestra_Aprob_Tijuana</targetReference>
            </connector>
            <label>Tijuana</label>
        </rules>
        <rules>
            <name>Veracruz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VE01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Muestra_Aprob_Veracruz</targetReference>
            </connector>
            <label>Veracruz</label>
        </rules>
        <rules>
            <name>Villahermosa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VI01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Muestra_Aprob_Villahermosa</targetReference>
            </connector>
            <label>Villahermosa</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Muestra Aprobada Sucursal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Muestra Aprobada Sucursal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>2564</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Entrega_Aprobada_Sucursal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Autorizado</stringValue>
            </value>
        </filters>
        <filters>
            <field>Producto_Disponible_en_Tienda__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SolicitudMuestra__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
