force-app/main/default/flows/Not_Envio_Muestra_Sucursal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Confirmacion_de_Entrega</name>
        <label>Confirmacion de Entrega</label>
        <locationX>2910</locationX>
        <locationY>671</locationY>
        <actionName>SolicitudMuestra__c.Confirmaci_n_de_Entrega</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Confirmaci_n_de_Entrega</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Envio_Acapulco</name>
        <label>Envio Acapulco</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Envio_Muestra_Acapulco</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmacion_de_Entrega</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Envio_Muestra_Acapulco</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Envio_Cancun</name>
        <label>Envio Cancun</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Envio_Muestra_Cancun</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmacion_de_Entrega</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Envio_Muestra_Cancun</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Envio_Chihuahua</name>
        <label>Envio Chihuahua</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Envio_Muestra_Chihuahua</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmacion_de_Entrega</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Envio_Muestra_Chihuahua</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Envio_Cuernavaca</name>
        <label>Envio Cuernavaca</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Envio_Muestra_Cuernavaca</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmacion_de_Entrega</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Envio_Muestra_Cuernavaca</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Envio_Culiacan</name>
        <label>Envio Culiacan</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Envio_Muestra_Culiacan</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmacion_de_Entrega</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Envio_Muestra_Culiacan</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Envio_Ermita</name>
        <label>Envio Ermita</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Envio_Muestra_Ermita</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmacion_de_Entrega</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Envio_Muestra_Ermita</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Envio_Guadalajara</name>
        <label>Envio Guadalajara</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Envio_Muestra_Guadalajara</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmacion_de_Entrega</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Envio_Muestra_Guadalajara</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Envio_Hermosillo</name>
        <label>Envio Hermosillo</label>
        <locationX>1898</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Envio_Muestra_Hermosillo</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmacion_de_Entrega</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Envio_Muestra_Hermosillo</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Envio_La_Raza</name>
        <label>Envio La Raza</label>
        <locationX>2162</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Envio_Muestra_La_Raza</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmacion_de_Entrega</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Envio_Muestra_La_Raza</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Envio_Leon</name>
        <label>Envio Leon</label>
        <locationX>2426</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Envio_Muestra_Leon</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmacion_de_Entrega</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Envio_Muestra_Leon</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Envio_Merida</name>
        <label>Envio Merida</label>
        <locationX>2690</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Envio_Muestra_Merida</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmacion_de_Entrega</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Envio_Muestra_Merida</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Envio_Merida_II</name>
        <label>Envio Merida II</label>
        <locationX>2954</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Envio_Muestra_MeridaII</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmacion_de_Entrega</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Envio_Muestra_MeridaII</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Envio_Mixcoac</name>
        <label>Envio Mixcoac</label>
        <locationX>3218</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Envio_Muestra_Mixcoac</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmacion_de_Entrega</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Envio_Muestra_Mixcoac</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Envio_Monterrey</name>
        <label>Envio Monterrey</label>
        <locationX>3482</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Envio_Muestra_Monterrey</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmacion_de_Entrega</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Envio_Muestra_Monterrey</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Envio_Perisur</name>
        <label>Envio Perisur</label>
        <locationX>3746</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Envio_Muestra_Perisur</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmacion_de_Entrega</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Envio_Muestra_Perisur</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Envio_Queretaro</name>
        <label>Envio Queretaro</label>
        <locationX>4010</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Envio_Muestra_Queretaro</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmacion_de_Entrega</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Envio_Muestra_Queretaro</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Envio_Riviera</name>
        <label>Envio Riviera</label>
        <locationX>4274</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Envio_Muestra_Riviera</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmacion_de_Entrega</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Envio_Muestra_Riviera</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Envio_Satelite</name>
        <label>Envio Satelite</label>
        <locationX>4538</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Envio_Muestra_Satelite</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmacion_de_Entrega</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Envio_Muestra_Satelite</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Envio_Tijuana</name>
        <label>Envio Tijuana</label>
        <locationX>4802</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Envio_Muestra_Tijuana</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmacion_de_Entrega</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Envio_Muestra_Tijuana</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Envio_Veracruz</name>
        <label>Envio Veracruz</label>
        <locationX>5066</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Envio_Muestra_Veracruz</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmacion_de_Entrega</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Envio_Muestra_Veracruz</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Envio_Villahermosa</name>
        <label>Envio Villahermosa</label>
        <locationX>5330</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Envio_Muestra_Villahermosa</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Confirmacion_de_Entrega</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Envio_Muestra_Villahermosa</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Notificacion_a_Tienda_Envio_de_Muestra</name>
        <label>Notificacion a Tienda-Envio de Muestra</label>
        <locationX>2910</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Confirmacion_de_Entrega</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Acapulco</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AC01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_Acapulco</targetReference>
            </connector>
            <label>Acapulco</label>
        </rules>
        <rules>
            <name>Cancun</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_Cancun</targetReference>
            </connector>
            <label>Cancun</label>
        </rules>
        <rules>
            <name>Chihuahua</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CH01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_Chihuahua</targetReference>
            </connector>
            <label>Chihuahua</label>
        </rules>
        <rules>
            <name>Cuernavaca</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CV01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_Cuernavaca</targetReference>
            </connector>
            <label>Cuernavaca</label>
        </rules>
        <rules>
            <name>Culiacan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CU01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_Culiacan</targetReference>
            </connector>
            <label>Culiacan</label>
        </rules>
        <rules>
            <name>Ermita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ERMI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_Ermita</targetReference>
            </connector>
            <label>Ermita</label>
        </rules>
        <rules>
            <name>Guadalajara</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GD01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_Guadalajara</targetReference>
            </connector>
            <label>Guadalajara</label>
        </rules>
        <rules>
            <name>Hermosillo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HE01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_Hermosillo</targetReference>
            </connector>
            <label>Hermosillo</label>
        </rules>
        <rules>
            <name>La_Raza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RAZA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_La_Raza</targetReference>
            </connector>
            <label>La Raza</label>
        </rules>
        <rules>
            <name>Leon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LE01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_Leon</targetReference>
            </connector>
            <label>Leon</label>
        </rules>
        <rules>
            <name>Merida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ME01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_Merida</targetReference>
            </connector>
            <label>Merida</label>
        </rules>
        <rules>
            <name>MeridaII</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ME02</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_Merida_II</targetReference>
            </connector>
            <label>MeridaII</label>
        </rules>
        <rules>
            <name>Mixcoac</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MIXC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_Mixcoac</targetReference>
            </connector>
            <label>Mixcoac</label>
        </rules>
        <rules>
            <name>Monterrey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MT01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_Monterrey</targetReference>
            </connector>
            <label>Monterrey</label>
        </rules>
        <rules>
            <name>Perisur</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PSUR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_Perisur</targetReference>
            </connector>
            <label>Perisur</label>
        </rules>
        <rules>
            <name>Queretaro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QE01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_Queretaro</targetReference>
            </connector>
            <label>Queretaro</label>
        </rules>
        <rules>
            <name>Riviera</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RIVI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_Riviera</targetReference>
            </connector>
            <label>Riviera</label>
        </rules>
        <rules>
            <name>Satelite</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SATE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_Satelite</targetReference>
            </connector>
            <label>Satelite</label>
        </rules>
        <rules>
            <name>Tijuana</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TJ01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_Tijuana</targetReference>
            </connector>
            <label>Tijuana</label>
        </rules>
        <rules>
            <name>Veracruz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VE01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_Veracruz</targetReference>
            </connector>
            <label>Veracruz</label>
        </rules>
        <rules>
            <name>Villahermosa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VI01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envio_Villahermosa</targetReference>
            </connector>
            <label>Villahermosa</label>
        </rules>
        <rules>
            <name>Planta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.entrega__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IMPQ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmacion_de_Entrega</targetReference>
            </connector>
            <label>Planta</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Not Envio Muestra Sucursal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Not Envio Muestra Sucursal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>2784</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Notificacion_a_Tienda_Envio_de_Muestra</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Muestra en Almacén</stringValue>
            </value>
        </filters>
        <filters>
            <field>Producto_Disponible_en_Tienda__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SolicitudMuestra__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
