force-app/main/default/flows/Not_Asignacion_Cuentas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Asignacion_Cuentas</name>
        <label>Asignacion Cuentas</label>
        <locationX>536</locationX>
        <locationY>383</locationY>
        <actionName>Account.Aignaci_n_de_Cuentas</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Detener_envio</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Aignaci_n_de_Cuentas</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <interviewLabel>Not. Asignacion Cuentas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Not. Asignacion Cuentas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Detener_envio</name>
        <label>Detener envio</label>
        <locationX>536</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Enviar_Notificaci_n_de_Asignaci_n__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Asignacion_Cuentas</targetReference>
        </connector>
        <filterLogic>(1 AND 2)</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0055f000007ZTJXAA4</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
