force-app/main/default/flows/Notificacion_Soporte_Tecnico.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Soporte_Centro</name>
        <label>Soporte Centro</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Opportunity.Soporte_Tecnico_Centro</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Soporte_Tecnico_Centro</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Soporte_Noroeste</name>
        <label>Soporte Noroeste</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <actionName>Opportunity.Soporte_Tecnico_Noroeste</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Soporte_Tecnico_Noroeste</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Soporte_Norte</name>
        <label>Soporte Norte</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Opportunity.Soporte_Tecnico_Norte</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Soporte_Tecnico_Norte</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Soporte_Occidente</name>
        <label>Soporte Occidente</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>Opportunity.Soporte_Tecnico_Occidente</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Soporte_Tecnico_Occidente</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Soporte_Sur</name>
        <label>Soporte Sur</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>Opportunity.Soporte_Tecnico_Sur</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Soporte_Tecnico_Sur</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>Enviar notificaci贸n de acuerdo a la zona</description>
        <name>Asignaci_n_por_Zona</name>
        <label>Asignaci贸n por Zona</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Centro_Bajio</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Centro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.zona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bajio</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Soporte_Centro</targetReference>
            </connector>
            <label>Centro/Bajio</label>
        </rules>
        <rules>
            <name>Norte</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Norte</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Soporte_Norte</targetReference>
            </connector>
            <label>Norte</label>
        </rules>
        <rules>
            <name>Occidente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Occidente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Soporte_Occidente</targetReference>
            </connector>
            <label>Occidente</label>
        </rules>
        <rules>
            <name>Sur</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sur</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Soporte_Sur</targetReference>
            </connector>
            <label>Sur</label>
        </rules>
        <rules>
            <name>Noroeste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.zona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Noroeste</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Soporte_Noroeste</targetReference>
            </connector>
            <label>Noroeste</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Notificaci贸n Soporte Tecnico {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notificaci贸n Soporte Tecnico</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Asignaci_n_por_Zona</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Soporte_tecnico__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
