force-app/main/default/flows/Nuevo_Caso_Laboratorios.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Not_Pinturas</name>
        <label>Not. Pinturas</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Case.Nuevo_Caso_LPinturas</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Estatus_en_Proceso</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Nuevo_Caso_LPinturas</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notif_APER</name>
        <label>Notif APER</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>Case.Nuevo_Caso_LAPER</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Estatus_en_Proceso</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Nuevo_Caso_LAPER</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notif_Concretos</name>
        <label>Notif Concretos</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Case.Nuevo_Caso_LConcretos</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Estatus_en_Proceso</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Nuevo_Caso_LConcretos</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Tipo_de_Laboratorio</name>
        <label>Tipo de Laboratorio</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Estatus_en_Proceso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Pinturas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Control de Calidad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Laboratorio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Laboratorio de Pinturas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Pinturas</targetReference>
            </connector>
            <label>Pinturas</label>
        </rules>
        <rules>
            <name>Concretos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Control de Calidad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Laboratorio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Laboratorio de Concretos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notif_Concretos</targetReference>
            </connector>
            <label>Concretos</label>
        </rules>
        <rules>
            <name>APER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Control de Calidad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Laboratorio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APER (Asfaltos, Poliuretanos, Epoxicos y Resinas)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notif_APER</targetReference>
            </connector>
            <label>APER</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Nuevo Caso Laboratorios {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nuevo Caso Laboratorios</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Estatus_en_Proceso</name>
        <label>Estatus en Proceso</label>
        <locationX>446</locationX>
        <locationY>623</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Enproceso</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tipo_de_Laboratorio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Control de Calidad</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_Laboratorio__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
