force-app/main/default/flows/Preparacion_de_Muestra_Desarrollo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Preparaci_n_LPinturas</name>
        <label>Preparación LPinturas</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Preparaci_n_de_Muestra_LPinturas</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Preparaci_n_de_Muestra_LPinturas</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Preparacion_APER</name>
        <label>Preparacion APER</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Preparaci_n_de_Muestra_LAPER</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Preparaci_n_de_Muestra_LAPER</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Preparacion_Concretos</name>
        <label>Preparacion Concretos</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>SolicitudMuestra__c.Preparaci_n_de_Muestra_LConcretos</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SolicitudMuestra__c.Preparaci_n_de_Muestra_LConcretos</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Tipo_de_Laboratorio</name>
        <label>Tipo de Laboratorio</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Laboratorio_de_Pinturas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Laboratorio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Laboratorio de Pinturas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preparaci_n_LPinturas</targetReference>
            </connector>
            <label>Laboratorio de Pinturas</label>
        </rules>
        <rules>
            <name>Laboratorio_APER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Laboratorio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>APER (Asfaltos, Poliuretanos, Epoxicos y Resinas)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preparacion_APER</targetReference>
            </connector>
            <label>Laboratorio APER</label>
        </rules>
        <rules>
            <name>Laboratorio_de_Concretos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tipo_de_Laboratorio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Laboratorio de Concretos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preparacion_Concretos</targetReference>
            </connector>
            <label>Laboratorio de Concretos</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Preparacion de Muestra-Desarrollo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Preparacion de Muestra-Desarrollo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tipo_de_Laboratorio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Preparación de Muestra</stringValue>
            </value>
        </filters>
        <filters>
            <field>tipo_muestra__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Desarrollo</stringValue>
            </value>
        </filters>
        <object>SolicitudMuestra__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
