force-app/main/default/flows/Recordatorio.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Atencion_a_Reclamaciones</name>
        <label>Atencion a Reclamaciones</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>Case.Recordatorio_Atencion_a_Reclamaciones</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Recordatorio_Atencion_a_Reclamaciones</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Recordatorio_Calidad</name>
        <label>Recordatorio Calidad</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <actionName>Case.Recordatorio_Calidad</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Recordatorio_Calidad</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Recordatorio_Desarrollo</name>
        <label>Recordatorio Desarrollo</label>
        <locationX>578</locationX>
        <locationY>360</locationY>
        <actionName>Case.Recordatorio_Desarrollo</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Recordatorio_Desarrollo</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Recordatorio</name>
        <label>Recordatorio</label>
        <locationX>446</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Atencion_Reclamaciones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Notif_Atencion_Reclamaciones__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atencion_a_Reclamaciones</targetReference>
            </connector>
            <label>Atencion a Reclamaciones</label>
        </rules>
        <rules>
            <name>Calidad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Notif_Calidad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recordatorio_Calidad</targetReference>
            </connector>
            <label>Calidad</label>
        </rules>
        <rules>
            <name>Desarrollo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Notif_Desarrollo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recordatorio_Desarrollo</targetReference>
            </connector>
            <label>Desarrollo</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Recordatorio {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recordatorio</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recordatorio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>caso_abierto__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-06-27</startDate>
            <startTime>18:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
