force-app/main/default/flows/Solicitud_I_D.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Enviar la solicitud autorizada a I+D que corresponda</description>
        <name>Solicitud_I_D</name>
        <label>Solicitud I+D</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>Desarrollo_o_Mejora__c.Solicitud_I_D</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Quitar_check_enviar_correo</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Desarrollo_o_Mejora__c.Solicitud_I_D</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Solicitud I+D {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Solicitud I+D</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Quitar_check_enviar_correo</name>
        <label>Quitar check enviar correo</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Enviar_correo__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Solicitud_I_D</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Estatus_de_la_solicitud__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Trabajando</stringValue>
            </value>
        </filters>
        <filters>
            <field>Enviar_correo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Desarrollo_o_Mejora__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
