force-app/main/default/flows/Workflow_de_creaci_n_de_cuentas_Especiales.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Envia_Email_0_0</name>
        <label>Envia Email</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <actionName>Account.Creaci_n_de_cuenta_exitosa</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>idcuenta</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Creaci_n_de_cuenta_exitosa</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>CONDICIONES_ESPECIALES</name>
        <label>¿Condiciones especiales?</label>
        <locationX>248</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Actualiza_etapa_de_cuenta_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Predeterminado</defaultConnectorLabel>
        <rules>
            <name>condicioensespeciales</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12) AND 13</conditionLogic>
            <conditions>
                <leftValueReference>$Record.grupo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>02</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.grupo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>03</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.grupo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>04</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.grupo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>05</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.grupo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>06</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.grupo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>07</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.grupo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>08</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.grupo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>09</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.grupo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.grupo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>17</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.grupo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>18</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.grupo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Aprobada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_etapa_de_cuenta_0</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requierecorreo</name>
        <label>Requiere Correo</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Requiere_correo_de_alta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requiereaprobacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Envia_Email_0_0</targetReference>
            </connector>
            <label>¿Requiere correo de alta ?</label>
        </rules>
    </decisions>
    <description>Flujo que actualiza el estatus de la cuenta si se cumplen los criterios especiales</description>
    <interviewLabel>Workflow de creación de cuentas Especiales {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Workflow de creación de cuentas Especiales</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Este Flujo detectara las condiciones especiales y pondrá el estatus en Requiere aprobación.</description>
        <name>Actualiza_etapa_de_cuenta_0</name>
        <label>Sujeta a aprobación</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Estatus__c</field>
            <value>
                <stringValue>Sujeta a aprobación</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Este Flujo detectara las condiciones especiales y pondrá el estatus en Requiere aprobación.</description>
        <name>Actualiza_etapa_de_cuenta_0_0_0</name>
        <label>Aprobada</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Requierecorreo</targetReference>
        </connector>
        <inputAssignments>
            <field>Estatus__c</field>
            <value>
                <stringValue>Aprobada</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CONDICIONES_ESPECIALES</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>id_de_sap__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>id_de_sap__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>idcuenta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
</Flow>
